// Import page-specific CSS files here.
@import "home";
@import "about";

.container {
  display: flex;
  // justify-content: space around;
  // text-align: right;

}

.card {
  font-size: 20px;
  text-align: center;
  padding: 100px;
  margin: 50px;
  box-shadow: 1px 1px 3px;
  text-align: left;
}
